@import "tailwindcss";

/* #region : "Static Visuals Setup" -------------------------------------- */
/* Click to Expand / Shrink Whole Section */ 
/* ----------------------------------------------------------------------- */
  /* Info-box overlay layout */
  .info-box {
    position: relative;
    width: fit-content;
    margin: left auto; 
  }
  .info-box-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .text-inside {
    font-family: "5by7";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 0.5rem;
    pointer-events: none;
    padding: 20px 15px 45px 15px;  /* bottom padding = pushes disclaimer lower */
  }
  .text-inside a, .text-inside button {
    pointer-events: auto;
  }
  .text-inside h1 {
    font-size: 1.6rem;
    margin: 0 0 0rem 0;
  }
  .email p {
    font-size: 1.2rem;
    margin: 0; 
  }
  .socials p {
    font-size: 1.2rem;
    margin: 0; 
  }
  .text-inside .disclaimer {
    margin-top: auto;
    font-size: 1rem;
  }
  .dash-line {
    letter-spacing: 0.2em;
    margin-top: -10px;
  }

/*#endregion*/

/* #region : "Resizing Logic" -------------------------------------------- */
/* Click to Expand / Shrink Whole Section */ 
/* ----------------------------------------------------------------------- */

  @media (max-width: 1024px) {

  .corner-banner {
    top: -180px;
    right: -150px;
    width: 450px;
    height: 500px;
  }
  .title-banner {
  top: 23px;
  right: 5px;
  width: 145px;
  height: auto;
  }
}

  @media (max-width: 768px) {

  .corner-banner {
    position: fixed;
    top: -80px;
    right: -280px;
    width: 600px;
    height: 600px;
  }
  .corner-banner img {
    width: 35%;
    height: 100%;
  }
  .title-banner {
    position: fixed;
    top: 51px;
    right: -115px;
    width: 208px;
  }
  .title-banner img {
    width: 35%;
  } 
}
/*#endregion*/

/* #region : "Enemy Artwork" --------------------------------------------- */
/* Click to Expand / Shrink Whole Section */ 
/* ----------------------------------------------------------------------- */
  .enemy-artwork {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    transform-origin: top right;
    pointer-events: none;
    z-index: 5;
  }
  .enemy-artwork div {
    position: absolute;
  }
  .enemy-artwork img {
    width: auto;
    height: auto;
    max-width: none;
    transform-origin: center;
  }
  .enemy-artwork .sentry {
    top: -220px;
    right: -80px;
    transform: scale(.6);
    z-index: 8; 
  }
  .enemy-artwork .owl {
    top: -1400px;
    right: -1950px;
    transform: scale(.15);
    z-index: 11; 
  }
  .enemy-artwork .snake {
    top: -1750px;
    right: -2200px;
    transform: scale(.2) rotate(-15deg);
    z-index: 9; 
  }
  .enemy-artwork .ivy {
    top: -280px;
    right: -350px;
    transform: scale(.35);
    z-index: 10; 
  }
  .enemy-artwork .hornet {
    top: 350px;
    right: -20px;
    transform: scale(.5);
    z-index: 10; 
  }
  .enemy-artwork .blyro {
    top: 150px;
    right: 250px;
    transform: scale(.75) rotate(25deg);
    z-index: 6; 
  }
  .enemy-artwork .acid-bug {
    top: 170px;
    right: 370px;
    transform: scale(.4) rotate(25deg);
    z-index: 6; 
  }
  .enemy-artwork .heat-weaver {
    top: -900px;
    right: -2250px;
    transform: scale(.2);
    z-index: 12; 
  }

  @media (max-width: 1600px) {
    .enemy-artwork {
      transform: scale(0.85);
      right: -40px;     /* shift whole container */
      top: 150px;
    }
  }

  @media (max-width: 1300px) {
    .enemy-artwork {
      transform: scale(0.70);
      right: -80px;
      top: 290px;
    }
  }

  @media (max-width: 1024px) {
    .enemy-artwork {
      transform: scale(0.55);
      right: -20px;
      top: 480px;
    }
  }

  @media (max-width: 768px) {
    .enemy-artwork {
      transform: scale(0.45);
      right: -20px;
      top: 600px;
    }
  }

  @media (max-width: 480px) {
    .enemy-artwork {
      transform: scale(0.35);
      right: -20px;
      top: 600px;
    }
  }

/*#endregion*/
